:root{
    --primary-color: #17062A;
    --theme-switch-p: 1px;
    --theme-switch: #00E1CD;
    --font: #FFE93D;
    --themebox: #1E0836;
    --screen: #1E0836;
    --keypad: #1E0836;
    --del-button: #56077C;
    --buton-font: #FFE93D;
    --button: #331B4D;
    --buton-shadow: #851C9D;
    --del-buton-shadow: #BF16F5;
    --equal-button-font: black;
    --equal-button: #00DECF;
    --equal-button-shadow: #6EFAF1;
}
body{
    background-color: var(--primary-color);
}
p{
    color: var(--font);
}
.themebox{
    background-color: var(--themebox);
    color: var(--font);
}
.theme-switch{
    background-color: var(--theme-switch);
    right: var(--theme-switch-p);
}
.screen{
    background-color: var(--screen);
}
.keypad{
    background-color: var(--keypad);
}
button{
    box-shadow: 0 3px 0px 0px var(--buton-shadow);
}
.del{
    background-color: var(--del-button);
    box-shadow:0 3px 0px 0px var(--del-buton-shadow);
}
.reset{
    background-color: var(--del-button);
    box-shadow:0 3px 0px 0px var(--del-buton-shadow);
}
.equal{
  background-color: var(--equal-button);
  color: var(--equal-button-font);
  box-shadow:0 3px 0px 0px var(--equal-button-shadow);
}