:root{
    --primary-color: #E6E6E6;
    --theme-switch-p: 18px;
    --font: #36362C;
    --themebox: #D3CDCD;
    --screen: #EEEEEE;
    --keypad: #D3CDCD;
    --del-button: #3A8088;
    --buton-shadow: #A79D91;
    --del-buton-shadow: #1A6165;
}
body{
    background-color: var(--primary-color);
}
p{
    color: var(--font);
}
.themebox{
    background-color: var(--themebox);
    color: var(--font);
}
.theme-switch{
    background-color: var(--theme-switch);
    right: var(--theme-switch-p);
}
.screen{
    background-color: var(--screen);
}
.keypad{
    background-color: var(--keypad);
}
button{
    box-shadow: 0 3px 0px 0px var(--buton-shadow);
}
.del{
    background-color: var(--del-button);
    box-shadow:0 3px 0px 0px var(--del-buton-shadow);
}
.reset{
    background-color: var(--del-button);
    box-shadow:0 3px 0px 0px var(--del-buton-shadow);
}
